/bin/
/compile_commands.json

/.direnv/

/result

*~
*.swp
*.swo
*.tmp

/external/raylib-5.5/src/*.o
/external/raylib-5.5/src/*.a
/external/raylib-5.5/src/*.so
/external/raylib-5.5/src/*.bc
/external/raylib-5.5/src/*-protocol*.h

.DS_Store
